<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
     	<link type="text/css" rel="stylesheet" href="/css/signin.css" th:href="@{/css/signin.css}" />
     	
     	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
       <title>Please sign in</title>
    </head>
    <body>
  
    <div class="col-md-4 col-md-offset-4">
   
    <a th:href="@{/}" class="btn btn-primary">Home</a> <br/> <br/>
    
     <h2 class="form-signin-heading">Please sign in</h2>
        <div class="alert alert-danger" th:if="${param.error}">
            Invalid username and password.
        </div>
        <div class="alert alert-warning" th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username" class="form-control"/> </label></div>
            <div><label> Password: <input type="password" name="password" class="form-control"/> </label></div>
            <div><input type="submit" value="Sign In" class="btn btn-primary"/></div>
        </form>
        
        <br/><br/><br/>
    	<a th:href="@{/signup}" class="btn btn-primary">Sign-up</a>
  
    </div>
    
   <!--  <div class="container">
      <form class="form-signin" th:action="@{/login}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <p>
          <label for="username" class="sr-only">Username</label>
          <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        </p>
        <p>
          <label for="password" class="sr-only">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>
<input name="_csrf" type="hidden" value="8006d37c-2c7e-4c45-8f30-ab629d7419b3" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
</div> -->
    
    </body>
</html>